<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="https://coscdn.htmlpage.cn/vip-tpl/assets/css/plugins.css"/>
    <link rel="stylesheet" href="https://coscdn.htmlpage.cn/vip-tpl/assets/css/style.css"/> 
    <style>
        /* Your custom CSS styles here */
    </style>
</head>
<body>
    <div id="default-editor-page__placeholder" class="panel">
        <h1 align="center">Register for Weather x Wardrobe</h1>
        <% if (error) { %>
            <div style="color: red;">Error: <%= error %></div>
        <% } %>
        <form action="/register" method="post" style="text-align: center;">
            <div>Username</div>
            <input type="text" name="username" required>

            <div>Password</div>
            <input type="password" name="password" required>

            <div>User ID</div>
            <input type="text" name="userid" required>

            <div class="button-container" style="margin-top: 10px;">
                <button type="submit" class="btn btn-lg btn-secondary rounded-pill mx-1">Register</button>
            </div>
        </form>
    </div>
</body>
</html>
